.mainCard
{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
     margin-left: 9rem;
    margin-right: 9rem;
    /* background-color: brown; */
    padding: 2rem;
    gap: 4rem;
    
}
.card {
  position: relative;
  width: 90%;
  height: 250px;
  padding: 3rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.corner {
  position: absolute;
  width: 60px;
  height: 60px;
}

/* .corner.tl {
  top: 0;
  left: 0;
  border-top: 3px solid #064e3b;
  border-left: 3px solid #064e3b;
  border-top-left-radius: 12px;
} */
.corner.tr {
  top: 0;
  right: 0;
  border-top: 5px solid #064e3b;
  border-right: 5px solid #064e3b;
  border-top-right-radius: 12px;
}
.corner.bl {
  bottom: 0;
  left: 0;
  border-bottom: 5px solid #064e3b;
  border-left: 5px solid #064e3b;
  border-bottom-left-radius: 12px;
}
.card .icon
{
    background-color: #064e3b;
    color: #fff;
    width: 20%;
    border: 1px solid #064e3b;
    border-bottom-left-radius: 1rem;
     border-top-left-radius: 1rem;
     border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:0.4rem;
}
.card h2{
    font-size: 2rem;
    margin-top: 1.2rem;
}
.card p{
    font-size: 1rem;
    margin-top: 1rem;
}

@media (max-width:768px)
{
  .mainCard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
     margin-left: 1rem;
    margin-right: 1rem;
    /* background-color: brown; */
    padding: 2rem;
    gap: 4rem;
    
}
}