.todo
{
    background-color: black;
    padding:3rem;
    margin: 100px;
    margin-left: 40rem;
    margin-right: 40rem;

}
.todo h2{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.form{
    display:  flex;
    align-items: center;
}
.form input{
    background-color: aliceblue;
    box-sizing: border-box;
    border: 1px solid white;
    padding:0.5rem;
       border-top-left-radius: 1rem;
     border-bottom-left-radius: 1rem;
     width:25rem;
}
.form button
{
     background-color: aliceblue;
    box-sizing: border-box;
    border: 1px solid white;
    padding:0.5rem;
     border-top-right-radius: 1rem;
     border-bottom-right-radius: 1rem;
}
.active
{
    color: red;
   
}
.form .bt{
    background-color: rgba(245, 245, 220, 0);
color:white;
  border: none;
}
ul li{
    list-style: none;
    background-color: antiquewhite;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-top: 3px;
    align-items: center;
    
}
.list
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
li .litext
{
     overflow: hidden;
      display: inline-flex;
   justify-content: center;
    align-items: center;
}
 ul .liButton button{
    background-color: antiquewhite;
    color: red;
    border: none;
   display: inline-flex;
   justify-content: center;
    align-items: center;
}
.todosub
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}